
<div class="wallet">
  <div class="details">
    <h2>Address</h2>
    <div><%= @node.wallet.address %></div>
    <h2>Balance</h2>
    <div class="balance">$<%= @node.bank.ledger[@node.wallet.address] || 0 %></div>
  </div>
  <form action="/send" method="post" class="transaction-form">
    <label for="to">To</label>
    <input type="text" name="to" id="to" placeholder="address" />
    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount" size="4" placeholder="123" />
    <input type="submit" class="button" value="Send" /><br>
  </form>
</div>
